DEBUG=True
SECRET_KEY=django-insecure-z1-yzmw5avt&80#ezzb2_9aps72wucyw!5)9mo!0$*&*fdtynh
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ai_teaching_db
OLLAMA_API_BASE=http://localhost:11434
OLLAMA_MODEL_TAG=gemma3:4b
OLLAMA_TIMEOUT_SECONDS=120

